---
import SkillTreeSection from '../components/sections/SkillTreeSection.astro';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'Capabilities Matrix | StartOps',
	description: 'StartOps Capabilities',
};

const skills = [
{
    id: 'hello-world',
    title: 'Hello World',
    tooltip: {
      content:
        'This node is the top most level, and will be unlocked, and ready to be clicked.',
    },
    children: [
      {
        id: 'hello-sun',
        title: 'Hello Sun',
        tooltip: {
          content:
            'This is a parent of the top node, and will locked while the parent isn’t in a selected state.',
        },
        children: [],
      },
      {
        id: 'hello-stars',
        title: 'Hello Stars',
        tooltip: {
          content:
            'This is the child of ‘Hello World and the sibling of ‘Hello Sun’. Notice how the app takes care of the layout automatically? That’s why this is called Beautiful Skill Tree and not just ‘Skill Tree’. (Also the npm namespace had already been taken for the latter so (flick hair emoji).',
        },
        children: [],
      },
    ],
  },
]
---

<Layout {seo}>

<SkillTreeSection skills=skills/>
<div id="tech1" class="tech locked" data-dependencies="">
  <input type="checkbox" onchange="unlock(this)"> Technology 1
</div>

<div id="tech2" class="tech locked" data-dependencies="tech1">
  <input type="checkbox" onchange="unlock(this)"> Technology 2
</div>
<div id="tech3" class="tech locked" data-dependencies="tech1 tech2">
  <input type="checkbox" onchange="unlock(this)"> Technology 3
</div>
<div id="tech4" class="tech locked" data-dependencies="tech2 tech3">
  <input type="checkbox" onchange="unlock(this)"> Technology 4
</div>
</Layout>




<article>
  <header><h1 class="page-title">The Capabilities Tech Tree</h1></header><div
    class="page-body">
    <h1>
      Startup (levels 0-2)
    </h1><p>
      As a Horizon 3 business, the startup must cement itself in the market by <strong>rapidly evolving the product</strong> so that it can meet its growth objectives.
    </p><ul>
      <li style="list-style-type:disc">single “team”</li>
    </ul><h1>
      Pre-IPO (levels 3-5)
    </h1><p>
      As a Horizon 2 business, before a company may IPO, there are several
      technology COMPLIANCE programs to implement, including SOX (1 or 2), and
      PCI.
    </p><ul>
      <li style="list-style-type:disc">Multiple teams</li>
    </ul><h1>
      Enterprise (levels 6-8)
    </h1><p>
      By the time a company has Divisions, it is important to SAFEGUARD
      production of the main line of business, while still permitting agility to
      Horizon 3 and Horizon 2 efforts.
    </p><ul>
      <li style="list-style-type:disc">multiple organizations</li>
    </ul><p></p><h1
      id="da7072c2-49d4-445a-9e3b-2b480de2e899"
      class="">
      Software Delivery Performance
    </h1><p>
      Automate testing and deploying changes so that developers can <strong>focus on feature development</strong>.
    </p><h2>
      Deployments
    </h2><p></p><ul
      id="b72ed13f-ca1b-4a1b-8811-11bd32cedfe8"
      class="to-do-list">
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy0: Deploy manually using an undocumented process</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy1: Deploy manually using a checklist / script / Makefile</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy2: Deploy automatically after merging to <code>main</code></span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy3: Canary deployments</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy4: Blue / Green deployments.</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy4a: Binary Feature Flags with Continual Deployments</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy5: Single Region Incremental Deployments</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy5a: Attribute based Feature Flagging
        </span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy6: Incremental Deployments to several regions.
        </span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Deploy7+: As business needs dictate.</span>
      </li>
    </ul><h3>
      Quality Gates
    </h3><p>
      Quality gates interrupt proceeding to the next environment until the
      criteria are met.
    </p><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Gate0: Manually check the environments using an undocumented process</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Gate1: Manually check the environments using a checklist before
          proceeding</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Gate2: Check the environment using a simple end to end testing suite
          that represents the “happy path”</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Gate3: End to End testing is used to automatically approve
          deployments</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Gate4: Synthetic tests (or similar) are used as an additional quality
          gate</span>
      </li>
    </ul><h1>
      Reliability Engineering
    </h1><h2>
      Site Metrics
    </h2><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Metrics0: Application errors are surfaced through logs and exit();</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Metrics1: Application errors are sent to Sentry. Performance metrics
          are sent to DataDog</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Metrics2:Troubleshooting dashboard created in DataDog. ← Full stack
          metrics are sent to DataDog (network, Runtime, OS and cloud, backends)</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Metrics3+: Repeat per team</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Metrics6+: As business needs dictate.</span>
      </li>
    </ul><p></p><h2
      id="11126123-fc03-42a9-befb-28e078b90c80"
      class="">
      Logs
    </h2><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Logs0: Logs are examined per instance</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Logs1: Logs are collected at a single point, S3, CloudWatch, etc..</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Logs2: Logs are collected for the main site, as well as other systems
          and can be correlated. For example, DB logs can be interrogated side
          by side with the main application logs.
        </span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Logs3: Logs are shipped to a central metadata collection point, such
          as DataDog.
        </span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Logs4+:As business needs dictate.</span>
      </li>
    </ul><p></p><h2
      id="28865be7-55c7-4f9e-8ff9-33c6ab302b20"
      class="">
      On Call
    </h2><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">OnCall0: People monitor slack carefully.</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">OnCall1: Engineers participate in an on-call rotation</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">OnCall2: Signal / Noise ratio is refined such that engineers respond
          with confidence when an alert is fired</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">OnCall3: Incident Response procedure is refined to the point where
          regular product improvements are made due to successful incorporation
          of incident feedback.</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">OnCall4: On Call Runbooks are refined to the point where low context
          colleagues can participate in on call rotation and perform basic
          triage.
        </span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">OnCall5+: As business needs dictate.</span>
      </li>
    </ul><h2>
      Disaster Recovery Planning
    </h2><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">DRP0: Being careful</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">DRP1: Backups of Databases</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">DRP2: Infrastructure can be recreated through checklists / IaaC</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">DRP3: Projects / Accounts separated per team</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">DRP4+: As business needs dictate.</span>
      </li>
    </ul><h1>
      Cost Optimization / Performance Engineering
    </h1><h2>
      Cloud Costs
    </h2><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Cost0: Use those free tier credits!!</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Cost1: Rightsize assets to meet workload and scalability
          requirements. Make Costs visible (monitoring) to avoid surprises.</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Cost2: Use baseline to negotiate pre-spend agreements (AWS).</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Cost3: Cloud Cost Engineer hired. Team leaders report on a regular
          basis their cloud cost, and attribute changes.</span>
      </li>
    </ul><ul>
      <li>
        <div class="checkbox checkbox-off"></div>
        <span class="to-do-children-unchecked">Cost6: Cloud Cost team created.
        </span>
      </li>
    </ul><p></p><h1
      id="234eb657-7fb8-43cd-b7cf-7a6ce3ab95f4"
      class="">
      Security
    </h1><h2>
      Patch management
    </h2><p>
      greatest age of outstanding CVE exposure is under 1 week.
    </p><h2>
      Access controls
    </h2><p>
      Employees access to production is auditable, and temporary.
    </p><h2>
      Audits and Record keeping
    </h2><p></p><p
      id="5088ba82-e1ce-4f34-b15e-68dce6d21e2f"
      class="">
      Logs are safeguarded behind a WORM interface with established lifecycle
      policy.
    </p><p></p><p
      id="79a9e73e-594e-4354-8782-8d837697aae7"
      class="">
      Things we deploy service catalog maintained
    </p><h2>
      End User devices
    </h2><p>JAMF</p><p
      id="aa5b1044-aff7-4151-8548-cf602a7c089e"
      class="">
    </p><p></p><figure
      id="4595925f-5c6f-4cda-abaa-f4f55ecdb40b"
      class="link-to-page">
      <a
        href="https://www.notion.so/The-capabilities-survey-4595925f5c6f4cdaabaaf4f55ecdb40b">The capabilities survey</a>
    </figure>
  </div>
</article>
