---
import {
  AnnouncementBar,
	ThreeColumnTextSection,
  CtaCardSection
} from '@odyssey-theme/components';
import Button from '../components/buttons/Button.astro';
import Layout from '../layouts/Page.astro';
import CustomerQuoteSection from '../components/sections/CustomerQuoteSection.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Dev-Ops for Start-Ups | StartOps',
	description: 'Build what you need today so that you can outmaneuver your competition.',
};
---

<!-- <AnnouncementBar text="Read Our Latest Blog Post" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/>
-->
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Dev-Ops for Start-Ups</h1>
			<p>Build what you need today so that you can outmaneuver your competition.</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/home/sketch-hero.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText=" The Preview and Deploy system that StartOps built allows us to deploy as soon as a feature is ready. That means I get to build fast and fix fast. That keeps my customers happy, and that keeps me happy."
		customerName="Kris Tryber, CEO"
		customerLink="https://exofreight.com/"
		customerLogo="https://uploads-ssl.webflow.com/62a3e8182500bf35493c6a35/62a3e8182500bf40d53c6a82_Frame%20264.svg"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Focus on what matters today.</h2>
			<p>
				Use our Capabilities Matrix to plan your DevOps practice.
			</p>
		</div>
		<Button href="capabilities-matrix" slot="column-1-cta" disabled>Coming Soon</Button>
		<div slot="column-2-body">
			<h2>Navigate the bleeding edge.</h2>
			<p>
				Use our Technology Radar to make sense of the latest trends.
			</p>
		</div>
		<Button href='technology-radar' slot="column-2-cta" outlined disabled>Coming Soon</Button>
		<div slot="column-3-body">
			<h2>Adapt what works.</h2>
			<p>
				Use our open-source software and example templates to fit your specific needs.
			</p>
		</div>
		<Button href="https://github.com/start-ops" slot="column-3-cta" newTab>GitHub</Button>
	</ThreeColumnTextSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Let's talk speed.</h2>
		<p>You have limited time and resources.</p>
		<p>Let us build and operate an infrastructure that is as responsive as your company is fast.</p>
    <Button href="/contact" materialIcon="chevron_right">Schedule a free consultation</Button>
  </CtaCardSection>

</Layout>

