---
const {smol} = Astro.props;
---
<section>
	<div class="startops-logo-card">
		<div class="startops-logo-image">
			<img src="/assets/startops-logo.png" alt="StartOps logo"/>
		</div>
		<div class="startops-logo-text"><a href="/">StartOps</a></div>
	</div>
	
</section>


<style>
	a:link {
		text-decoration: none;
	}
	a:visited {
		text-decoration: none;
	}
	.startops-logo-image {
		grid-column: 1;
		grid-row: 1;
		object-fit: contain;
		background-color: var(--theme-primary);
		border-radius: 1rem; 
	}
	.startops-logo-text {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row: 1;
		margin: auto;
		width: 100%;
		font-family: var(--theme-font-family-sans);
    font-size: 3rem;
		color: inherit;
	}
	.startops-logo-card {
		display: grid;
		grid-template-columns: repeat(3, var(--header-height));
		grid-gap: 1rem;
		width: (3 * var(--header-height));
		height: var(--header-height);
		color: var(--theme-on-bg);
	}
</style>
