---
---
# TODO: replace with a proper logo
<p class="startops-logo">StartOps</p>

<style>
	.startops-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.startops-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
