:root {
	/* Theme Colors */
	/* Theme Colors */
	--theme-primary: #356C0E;
	--theme-primary-hover: #93CB29;
	--theme-on-primary: #f0e3d1;

	--theme-bg: #f4f3f1;
	--theme-on-bg: #33302E;

	--theme-surface-1: #f0e3d1;
	--theme-on-surface-1: #356C0E;

	--theme-surface-2: #8B4B1E;
	--theme-on-surface-2: #f0e3d1;

	--theme-pre: #203318;
	--theme-on-pre: #71e12b;

	/* Theme Shapes */
	/* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
	--theme-shape-radius: clamp(1rem, 2rem, 3rem);
	--theme-button-border-radius: 3rem;

	/* Theme Transition */
	--theme-transition: 0.2s ease-in-out;

	/* Theme Layout */
	--section-margin: 1.5rem;
	--theme-grid-gap: 1rem;
	--container-max-width: 1440px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;

	--theme-blog-post-header-width: 1200px;
	--theme-blog-trpost-header-width: 1440px;

	/* Theme Fonts */
	--theme-font-family-serif: Merriweather, 'Roboto Serif', Georgia, Cambria, 'Times New Roman',
		Times, serif;
	--theme-font-family-sans: Heebo, 'Lato', -apple-system, BlinkMacSystemFont,
		sans-serif;
	--theme-font-family-monospace: 'Source Code Pro', 'Fira Code', 'Fira Mono', 'SFMono-Regular',
}

